/* ---------- TYPOGRAPHY ---------- */
.text {
    display: block;
    @include fluid-type(320px, 1680px, 12px, 14px);
    font-family: $PoppinsRegular;
    color: $white;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 1;
    &.bigtitle {
        @include fluid-type(320px, 1680px, 38px, 48px);
        font-family: $RobotoCondensedBold;
    }
    &.title {
        @include fluid-type(320px, 1680px, 30px, 36px);
        font-family: $RobotoCondensedBold;
    }
    &.subtitle {
        @include fluid-type(320px, 1680px, 16px, 20px);
        font-family: $PoppinsSemiBold;
    }
    &.small {
        @include fluid-type(320px, 1680px, 10px, 12px);
    }
    &.mainTemp {
        @include fluid-type(320px, 1680px, 62px, 72px);
        font-family: $RobotoCondensedBold;
    }
    &.bold {
        font-family: $PoppinsBold;
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.black {
        color: $black;
    }
}
