/* ---------- COLORS ---------- */
$white: #ffffff;
$black: #000000;

/* ---------- BACKGROUND COLORS ---------- */
$background-black: #000;
$background-black01: #121214;

$background-gradient-01: linear-gradient(90deg, #121214, #1e1e26);
$background-gradient-02: linear-gradient(to right, #c9d6ff, #e2e2e2);

/* ---------- FONTS ---------- */
$JosefinSansLight: 'JosefinSans-Light';
$JosefinSansRegular: 'JosefinSans-Regular';
$JosefinSansBold: 'JosefinSans-Bold';

$PoppinsLight: 'Poppins-Light';
$PoppinsRegular: 'Poppins-Regular';
$PoppinsSemiBold: 'Poppins-SemiBold';
$PoppinsBold: 'Poppins-Bold';

$LatoRegular: 'lato-regular';
$LatoBold: 'lato-bold';
$LatoBlack: 'lato-black';

$RobotoLight: 'roboto-light';
$RobotoRegular: 'roboto-regular';
$RobotoBold: 'roboto-bold';
$RobotoCondensedBold: 'Roboto-Condensed-Bold';

$MontserratRegular: 'Montserrat-Regular';
$MontserratBold: 'Montserrat-Bold';

$merriweatherRegular: 'merriweather-regular';
$merriweatherBold: 'merriweather-bold';

$OswaldRegular: 'oswald-regular';

$AlfaSlabOneRegular: 'Alfa Slab One Regular';
$LeaguegothicRegular: 'leaguegothic-regular';
$AlexbrushRegular: 'alexbrush-regular';
$ReklameScriptRegular: 'ReklameScript-Regular_DEMO';
