/* ---------- COLORS ---------- */
$white: #ffffff;
$black: #000000;

$baseColor: #2f474f;
$secColor: #9fbcc6;
$thirdColor: #d1a802;
$fourthColor: #1488cc;

$redIcons: #cb0000;

/* ---------- BACKGROUND COLORS ---------- */
$background-gradient-01: radial-gradient(circle at 45.2%, rgb(47, 71, 79) 32%, rgb(159, 188, 198) 83.6%);
$background-card: linear-gradient(to bottom, $baseColor, $secColor);

/* ---------- FONTS ---------- */
$JosefinSansLight: 'JosefinSans-Light';
$JosefinSansRegular: 'JosefinSans-Regular';
$JosefinSansBold: 'JosefinSans-Bold';

$PoppinsLight: 'Poppins-Light';
$PoppinsRegular: 'Poppins-Regular';
$PoppinsSemiBold: 'Poppins-SemiBold';
$PoppinsBold: 'Poppins-Bold';

$LatoRegular: 'lato-regular';
$LatoBold: 'lato-bold';
$LatoBlack: 'lato-black';

$RobotoLight: 'roboto-light';
$RobotoRegular: 'roboto-regular';
$RobotoBold: 'roboto-bold';
$RobotoCondensedBold: 'Roboto-Condensed-Bold';

$MontserratRegular: 'Montserrat-Regular';
$MontserratBold: 'Montserrat-Bold';

$merriweatherRegular: 'merriweather-regular';
$merriweatherBold: 'merriweather-bold';

$OswaldRegular: 'oswald-regular';

$AlfaSlabOneRegular: 'Alfa Slab One Regular';
$LeaguegothicRegular: 'leaguegothic-regular';
$AlexbrushRegular: 'alexbrush-regular';
$ReklameScriptRegular: 'ReklameScript-Regular_DEMO';
